<div class="page-header">
    <h1>{{translation.pageHeader}}</h1>
</div>
<div class="row"><div class="col-sm-12"><b>Email:</b> sabo.msg@gmail.com</div></div>
<div class="row"><div class="col-sm-12"><b>Skype:</b> igor.sabo</div></div>
<div class="row"><div class="col-sm-12"><b>Github:</b> <a href="https://github.com/mathematicalman">https://github.com/mathematicalman</a></div></div>
<div class="row"><div class="col-sm-12"><b>Bitbucket:</b> <a href="https://bitbucket.org/mathematicalman/">https://bitbucket.org/mathematicalman/</a></div></div>
<div class="row"><div class="col-sm-12"><b>Stackoverflow:</b> <a href="http://stackoverflow.com/users/2531811/mathematicalman">http://stackoverflow.com/users/2531811/mathematicalman</a></div></div>
